*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.rvmrc
.ruby-gemset
.ruby-version

# YARD artifacts
.yardoc
_yardoc
doc/

# Various temp files
*.swp
.DS_Store

# Chef-related
.chef/

# Python stuff
*.pyc

# Vagrant
.vagrant
